table.folder-legend tr td:nth-child(1) {
    text-align: center;
}

table.folder-legend tr td:nth-child(2) {
    vertical-align: middle;
}

table.folder-legend tr td {
	padding: 0 10px;
}

img.folder-legend {
	max-width: 16px;
	max-height: 16px;
}

#main_content a[href ^="https://"], .link-https {
	background: url('../images/lock-icon.png') center right no-repeat;
	padding-right: 16px;
}

#main_content a[href ^="http://"], .link-external {
	background: url('../images/external-icon.png') center right no-repeat;
	padding-right: 16px;
}

table.file-legend tr td {
	padding: 0 10px;
}

td.file-legend-same {
	background-color: rgb(0, 0, 0);
}

td.file-legend-different {
	background-color: rgb(168, 232, 166);
}

td.file-legend-missing-left {
	background-color: rgb(220, 229, 245);
}

td.file-legend-missing-right {
	background-color: rgb(255, 225, 225);
}

td.file-legend-merged {
	background-color: rgb(255, 204, 0);
}
