table.folder-legend tr td:nth-child(1) {
    text-align: center;
}

table.folder-legend tr td:nth-child(2) {
    vertical-align: middle;
}

table.folder-legend tr td {
	padding: 0 10px;
}

img.folder-legend {
	max-width: 16px;
	max-height: 16px;
}

#main a[href ^="https://"]:before, .link-https:before {
	content: "\f023";
	font-family: FontAwesome;
	padding-right: 0.2em;
}

#main a[href ^="http://"]:before, .link-external:before {
	content: "\f08e";
	font-family: FontAwesome;
	padding-right: 0.2em;
}

table.file-legend tr td {
	padding: 0 10px;
}

td.file-legend-same {
	background-color: rgb(0, 0, 0);
}

td.file-legend-different {
	background-color: rgb(168, 232, 166);
}

td.file-legend-missing-left {
	background-color: rgb(220, 229, 245);
}

td.file-legend-missing-right {
	background-color: rgb(255, 225, 225);
}

td.file-legend-merged {
	background-color: rgb(255, 204, 0);
}
