table.folder-legend tr td:nth-child(1) {
    text-align: center;
}

table.folder-legend tr td:nth-child(2) {
    vertical-align: middle;
}

table.folder-legend tr td {
	padding: 0 10px;
}

img.folder-legend {
	max-width: 16px;
	max-height: 16px;
}

#main_content a[href ^="https://"], .link-https {
	background: url('/images/lock-icon.png') center right no-repeat;
	padding-right: 16px;
}

#main_content a[href ^="http://"], .link-external {
	background: url('/images/external-icon.png') center right no-repeat;
	padding-right: 16px;
}
