<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="VisualDiffer : " />

    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/vd.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/toc.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="javascripts/jquery.cookie.js"></script>
    <script src="javascripts/jquery.tocLight.js"></script>

    <title>VisualDiffer - {{ page.title }}</title>

    <script type="text/javascript">
      $(function() {
        $.toc.clickHideButton({saveShowStatus:true});
      });
    </script>
</head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title"><a href="index.html">VisualDiffer Wiki</a></h1>
          <h2 id="project_tagline">{{ page.title }}</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content | toc_generate }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Copyright 2010-2013 <a href="http://visualdiffer.com">VisualDiffer</a></p>
      </footer>
    </div>

    

  </body>
</html>

